@font-face {
    font-family: logo-font;
    src: url(./fonts/BakbakOne-Regular.ttf);
}

.logo-font {
    font-family: logo-font;
}

.static-gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(53deg, rgba(0, 0, 0, 0.607), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: -1;
}

#initial-black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    pointer-events: none;
    opacity: 1;
    z-index: 1;

    animation-name: dissapear-anim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

#header {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100vh;
    user-select: none;

    transition: height 0.5s ease-in-out;
}

.logo-container {
    width: 80%;
    height: 32vw;
    position: relative;
}

#logo-logo {
    position: relative;
    margin: 5% 0 0 30%;
    height: 80%;
    width: 35%;
    overflow-y: hidden;

    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
    filter: drop-shadow(10px 6px 4px #00000050);

    animation-name: logo-moveleft-anim;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}

#logo-l,
#logo-m {
    position: absolute;
    height: 75%;
    width: 75%;
    opacity: 0;
    overflow-y: hidden;
}

#logo-l {
    background: linear-gradient(53deg, #23ebe9 26%, #67d45f 70%, #ebfa56 96%);
    -webkit-mask: url(../img/logo-l.svg) no-repeat center / contain;
    mask: url(../img/logo-l.svg) no-repeat center / contain;

    animation-name: logo-zoom-anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#logo-m {
    background: linear-gradient(53deg, #23ebe9 26%, #67d45f 70%, #ebfa56 96%);
    -webkit-mask: url(../img/logo-m.svg) no-repeat center / contain;
    mask: url(../img/logo-m.svg) no-repeat center / contain;

    animation-name: logo-zoom-anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

.logo-bright {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;

    background: url(../img/bright.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -20vw;
    -webkit-mask: url(../img/logo-m.svg) no-repeat center / contain;
    mask: url(../img/logo-m.svg) no-repeat center / contain;

    animation-name: logo-bright-anim;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1.05s;
}

#logo-m-bright {
    -webkit-mask: url(../img/logo-m.svg) no-repeat center / contain;
    mask: url(../img/logo-m.svg) no-repeat center / contain;
}

#logo-l-bright {
    -webkit-mask: url(../img/logo-l.svg) no-repeat center / contain;
    mask: url(../img/logo-l.svg) no-repeat center / contain;
}

#logo-text {
    position: absolute;
    height: 30%;
    width: 85%;
    right: 0;
    overflow-y: hidden;

    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    filter: drop-shadow(6px 6px 4px #00000090);

    top: 50%;
    transform: translateY(-50%);

    animation-name: logo-text-anim;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

#logo-text span {
    font-size: 6.5vw;
    color: white;
    opacity: 0;

    animation-name: logo-text-letter-anim;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.logo-text-d {
    animation-delay: 1.44s;
}

.logo-text-n {
    animation-delay: 1.52s;
}

.logo-text-aa {
    animation-delay: 1.6s;
}

.logo-text-l {
    animation-delay: 1.68s;
}

.logo-text-y {
    animation-delay: 1.76s;
}

.logo-text-x {
    animation-delay: 1.84s;
}

.logo-text-a {
    animation-delay: 1.92s;
}

.logo-text-m {
    animation-delay: 2s;
}

#logo-subtext {
    position: absolute;
    height: 10%;
    width: 70%;
    right: 10%;
    overflow-y: hidden;

    float: left;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    filter: drop-shadow(6px 6px 4px #00000080);
    font-size: 1.75vw;
    opacity: 0;

    top: 60%;
    transform: translateY(-65%);

    animation-name: logo-subtext-anim;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.9s;
    animation-fill-mode: forwards;
}

#logo-subtext span {
    color: white;
}

#logo-subtext-small {
    font-size: 1.2vw;
    color: white;
}

#total-visitors img {
    border-radius: 9999px;
}

#scroll-progress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: transparent; /* Fondo sólido para el contenedor */
    z-index: 999;
}

#scroll-progress-bar {
    width: 0;
    height: 100%;
    background: linear-gradient(53deg, #23ebe9 26%, #67d45f 70%, #ebfa56 96%);
}

@keyframes logo-bright-anim {
    0% {
        background-position-x: -20vw;
    }

    100% {
        background-position-x: 20vw;
    }
}

@keyframes logo-zoom-anim {
    0% {
        width: 75%;
        height: 75%;
        opacity: 0;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

@keyframes logo-moveleft-anim {
    0% {
        width: 5% 0 0 30%;
    }

    100% {
        margin: 5% 0 0 5%;
    }
}

@keyframes logo-text-anim {
    0% {
        width: 85%;
    }

    100% {
        width: 60%;
    }
}

@keyframes logo-text-letter-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes logo-subtext-anim {
    0% {
        top: 60%;
        opacity: 0
    }

    100% {
        top: 65%;
        opacity: 1
    }
}

@keyframes dissapear-anim {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.header-small {
    height: 70vh !important;
}