* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Onest;
    src: url('./fonts/onest-latin-wght-normal.ycwkluYs.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    height: 100%;
    background-color: #030712;
}

#glow-gradient {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 5000px;
    background: radial-gradient(ellipse 100% 50% at center, #1D203B, transparent 80%);
    top: -2750px;
}


/* BANNER */

#banner {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 60px;
}

.banner-line {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(90deg, #ffffff00 10%, #ffffff6e 50%, #ffffff00 90%);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.banner-gradient {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, #030712, #03071200);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.banner-gradient-small {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #030712, #03071200);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.banner-content {
    width: 700px;
    float: left;
    height: calc(100% - 3px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-width: 700px;

    transform: translateY(-100%);
    animation-name: go-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;

    transition: width 0.5s ease-in-out, gap 0.5s ease-in-out, margin-left 0.5s ease-in-out;
}

.banner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: white;
    padding: 8px 16px;
    border-radius: 100px;
    transition: 0.2s;
    border: 2px solid transparent;
    user-select: none;
    font-size: 1.1em;
}

.banner-item box-icon {
    height: 22px;
    width: 22px;
    fill: white;
}

.banner-item:hover {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.banner-item:hover:nth-child(1) {
    border-color: rgb(100, 255, 100);
}

.banner-item:hover:nth-child(2) {
    border-color: rgb(100, 255, 159);
}

.banner-item:hover:nth-child(3) {
    border-color: rgb(100, 255, 201);
}

.banner-item:hover:nth-child(4) {
    border-color: rgb(100, 237, 255);
}

.banner-logo {
    position: absolute;
    top: 10px;
    left: 70px;
    height: 40px;
    width: 40px;
    transform: scale(0);

    transition: transform 0.3s ease-in-out;
}

/* SECTIONS */

.section {
    padding-top: 100px;
    width: 100%;
    height: fit-content;
}

.section-title {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
}

.section-title h2 {
    font-size: 6em;
    font-weight: normal;
    filter: drop-shadow(6px 6px 4px #00000090);

    background: -webkit-linear-gradient(0deg, #8bebea, #ffffcb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-separator {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #ffffff00 10%, #ffffff6e 36%, #ffffff1c 50%, #ffffff6e 64%, #ffffff00 90%);
}

.section-content {
    width: 100%;
    height: fit-content;
}

/* PROJECT SECTION */

.project {
    width: 100%;
    padding: 25px 75px;
    margin-top: 33px;
    background: linear-gradient(90deg, #ffffff00 5%, #ffffff20 50%, #ffffff00 95%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}


.project-title {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-size: 3em;
    color: white;
    font-weight: normal;
}

.project-subtitle {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-size: 1.2em;
    color: white;
    font-style: italic;
    text-align: center;
    margin-bottom: 16px;
}
.project-row {
    width: 100%;
    height: 350px;
    float: left;
    margin: 16px 0;
    overflow: visible;
    display: flex;
}

.project-container-img {
    flex: 0 0 500px; /* Permite que el contenedor de imagen se ajuste */
    height: 100%;
    background-color: red;
    position: relative;
    overflow: visible;
}

.project-container-text {
    flex: 1; /* Permite que el contenedor de imagen se ajuste */
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 20px 50px;
}

.project-container-text span {
    font-size: 1.2em;
    color: white;
}

.project-left {
    order: -1;
}
.project-right {
    order: 1;
}

.project-container-img-right-selector,
.project-container-img-left-selector {
    position: absolute;
    top: calc(50% - 40px);
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.48);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: background-color 0.2s;
}

.project-container-img-right-selector {
    left: -10px;
}
.project-container-img-left-selector {
    right: -10px;
}

.project-container-img-left-selector box-icon,
.project-container-img-right-selector box-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white;
    height: 80px;
    width: 80px;
}

.project-container-img-left-selector:hover,
.project-container-img-right-selector:hover {
    background-color: rgba(255, 255, 255, 0.68);
}

.project-container-img-top {
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    background-color: green;
    border-radius: 20px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.6);
}

.project-container-img-next {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40%;
    height: 40%;
    background-color: rgb(117, 128, 0);
    border-radius: 20px;
    box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.4);
}

.project-container-img-previous {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 40%;
    height: 40%;
    background-color: rgb(0, 128, 119);
    border-radius: 20px;
    box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.4);
}

.project-container-img-top img,
.project-container-img-next img,
.project-container-img-previous img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* FOOTER */

#footer {
    padding-top: 120px;
    width: 100%;
    height: 240px;
    position: relative;
}

.footer-content {
    height: 100%;
    width: 100%;
    background-color: #00030c;
}

.footer-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(0deg, #00030c, #00030c00);
}

/* ANIMATIONS */

.header-highlight {
    background: -webkit-linear-gradient(0deg, #3fefeb, #fcfc89);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.header-highlight-svg {
    fill: #3fefeb !important;
}

.opacity-1 {
    opacity: 1;
}

.center-items-anim {
    width: 100%;
    gap: 60px;
}

.scale-1-anim {
    transform: scale(1);
}

@keyframes go-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* RESPONSIVE */

@media (max-width: 1500px) {
    .project-row {
        height: 300px;
    }
    
    .project-container-img {
        width: 400px;
    }

    .project-container-text {
        width: calc(100% - 400px);
    }

    .project-container-text span {
        font-size: 1em;
    }

    .project-container-img-top {
        top: 7.5%;
        left: 12.5%;
        width: 75%;     
        height: 85%;
    }
    
    .project-container-img-next {
        top: 0%;
        right: 5%;
        height: 45%;
    }
    
    .project-container-img-previous {
        bottom: 0%;
        left: 5%;
        height: 45%;
    }
}

@media (max-width: 1250px) {

    .project-row {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-container-text {
        flex: 1 1 60%;
        width: 100%;
    }

    .project-container-img {
        flex: 1 1 40%;
        width: 400px;
    }
}

@media (max-width: 1150px) {
    .banner-content {
        min-width: 1% !important;
        width: 100%;
        gap: 50px;
    }
}

@media (max-width: 900px) {
    .banner-content {
        gap: 30px;
    }

    /* hide banner-content text */
    .banner-content span {
        display: none;
    }

    .banner-item:hover span {
        display: block;
    }
    
    .center-items-anim {
        width: 80%;
        margin-left: 20%;
    }

    .banner-logo {
        left: 40px;
    }

    .project-container-text span {
        font-size: 0.8em;
    }
}

@media (max-width: 700px) {
    .center-items-anim {
        gap: 10px;
    }

    .project-row {
        height: 500px;
    }
    .project-container-text {
        flex: 1 1 65%;
    }
    .project-container-img {
        flex: 1 1 35%;
        width: 300px;
    }

    .project-container-text span {
        font-size: 0.7em;
    }
}